.expense-chart {
  @media only screen and (max-width: 70em) {
    margin-bottom: 10rem;
  }

  @media only screen and (max-width: 30em) {
    margin-bottom: 8rem;
  }
}
.expense-chart__heading {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0rem;
  color: var(--color-1);
}
