.todo__form {
  justify-self: stretch;
}

.todo__form--btn {
  background: var(--color-1);
  align-self: center;
  justify-items: center;
}

.todo__form--item {
  padding: 1rem 5rem;
  max-width: 100%;

  @media only screen and (max-width: 30em) {
    padding: 1rem 1.5rem;
  }
}

.todo__form--item label {
  font-size: 1rem;
  transition: color 0.5s;
}

.todo__form--item input,
.todo__form--item select,
.todo__form--item textarea {
  margin-top: 0.5rem;
  font-family: inherit;
  border: none;
  background: var(--color-white);
  color: var(--color-dark);
  width: stretch;
  padding: 1rem 0.7rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.5s;

  &:focus {
    outline: 2px solid var(--color-1);
  }
}

/////////////////////////////////////////////////////////////

///  label and input change when invalid input
.todo__form--item.invalid label[for='name'],
.todo__form--item.invalid label[for='finish-date'] {
  color: red;
}

.todo__form--item.invalid input[type='text'],
.todo__form--item.invalid input[type='date'] {
  outline: 2px solid red;
  animation: shake 0.5s;
}

///////////////////////////////////////////////////////////////

.todo__form--submit {
  background: var(--color-1);
  margin-left: 1rem;
}

.todo__form--cancel {
  background-color: #333;
  color: #f3f3f3;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
