.expense__summary {
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-width: 30em) {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 0;
  }
}

.summary__item {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-dark);
    transform: translateY(-0.5rem);
  }
}

.summary__item--logo {
  fill: var(--color-white);
  background-color: var(--color-grey-1);
  border-radius: 50%;
  padding: 0.5rem;
  height: 1.3rem;
  width: 1.3rem;
}

.summary__item--details {
  h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    font-size: 0.8rem;
    margin-top: -0.3rem;
  }
}
