.expense__transactions--heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0rem;
  text-align: center;
  color: var(--color-1);

  @media only screen and (max-width: 30em) {
    font-size: 1.4rem;
    margin: 4rem 0 2rem 0;
  }
}
.expense__transactions {
  align-self: center;
  height: 20rem;
  width: max-content;
  overflow-y: scroll;
  padding: 0rem 1rem;

  @media only screen and (max-width: 30em) {
    margin-bottom: 7rem;
    padding: 0 0.7rem;
  }
}

.expense__transactions::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-white);

  @media only screen and (max-width: 30em) {
    width: 5px;
  }
}

.expense__transactions::-webkit-scrollbar-track {
  background: var(--color-dark);
}

.expense__transactions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.expense__transactions::-webkit-scrollbar-thumb:hover {
  background: #555;
}
