.transaction__item {
  background-color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 3rem;
  color: var(--color-dark);
  margin-bottom: 1rem;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);

  @media only screen and (max-width: 30em) {
    column-gap: 0.5rem;
    padding: 1rem;
  }
}

.transaction__item--icon {
  height: 3rem;
  width: 1.5rem;
  background-color: var(--color-white-1);
  padding: 0.2rem 1rem;
  border-radius: 50%;

  @media only screen and (max-width: 30em) {
    height: 1.8rem;
    width: 1rem;
    padding: 0.2rem 0.5rem;
  }
}

.transaction__item--details {
  margin-left: -2rem;

  @media only screen and (max-width: 30em) {
    margin: 0;
  }
}

.transaction__item--name {
  font-size: 0.8rem;
}

.transaction__item--date {
  color: var(--color-grey-1);
  font-size: 0.7rem;
}

.transaction__item--category {
  font-size: 0.8rem;
  background-color: var(--color-white-1);
  border-radius: 10px;
  padding: 0.5rem;
  text-transform: uppercase;

  @media only screen and (max-width: 30em) {
    font-size: 0.6rem;
  }
}

.transaction__item--amount {
  font-size: 1.2rem;
  font-weight: bold;

  @media only screen and (max-width: 30em) {
    font-size: 0.8rem;
  }
}
