.expense__overview {
  display: flex;
  flex-direction: column;
}

.expense__overview--data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-items: center;
  row-gap: 2rem;

  @media only screen and (min-width: 70.625em) {
    margin-bottom: 10rem;
  }

  @media only screen and (max-width: 30em) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin-bottom: 0;
  }
}
