.popup {
  background-color: #333;
  position: fixed;
  top: 40%;
  left: 50%;
  padding: 2rem 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 100;
  animation: slide-down 300ms ease forwards;

  @media only screen and (max-width: 30em) {
    top: 40%;
    // width: 12rem;
    width: 50%;
    padding: 1.5rem 1rem;
  }
}

.popup__message {
  font-size: 1.3rem;

  @media only screen and (max-width: 30em) {
    font-size: 1rem;
  }
}

.popup__remove {
  display: none;
}

.popup__button--cancel {
  background-color: rgba(20, 20, 20, 0.993);
  color: #f3f3f3;
}
.popup__button--ok {
  background-color: #f3f3f3;
  margin-left: 1rem;
}

.popup__button--cancel,
.popup__button--ok {
  @media only screen and (max-width: 30em) {
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
  }
}

@keyframes slide-down {
  from {
    transform: translate(-50%, -70%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}
