.toast {
  position: fixed;
  top: 10%;
  right: 2%;
  font-size: 1rem;
  background-color: var(--color-white);
  color: var(--color-dark);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;

  @media only screen and (max-width: 30em) {
    font-size: 0.7rem;
    right: 4%;
  }
}

.toast.success {
  opacity: 1;
  border-left: 4px solid green;
}

.toast.error {
  opacity: 1;
  border-left: 4px solid red;
}
