.todo__items {
  // justify-self: stretch;

  @media only screen and (max-width: 30em) {
    justify-self: auto;
    width: max-content;
  }
}

.todo__items--heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @media only screen and (max-width: 30em) {
    margin-top: 1.5rem;
    font-size: 1.7rem;
  }
}

.todo__list {
  @media only screen and (max-width: 30em) {
    // margin: 0 2rem;
  }
}

.todo__list--no-items {
  font-size: 1rem;
  background-color: #333;
  display: inline-block;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.3);
  border-left: 3px solid red;
}
