:root {
  --color-1: #03dbdb;

  --color-dark: #101010;
  --color-white: #f3f3f3;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-dark);
  color: var(--color-white);
  line-height: 1.7;
}

@media only screen and (max-width: 30em) {
  body {
    font-size: 52%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

button:hover {
  opacity: 0.9;
}
