.item__date {
  position: absolute;
  top: -30%;
  left: 0%;
  color: var(--color-dark);
  font-weight: bold;
  background-color: rgb(226, 215, 51);
  padding: 0.32rem 1rem;
  border-radius: 20px;
  font-size: 0.7rem;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.item__date.expired {
  background-color: red;
}
